html {
  height: 100%;
  margin: 0 0;
}

body {
  height: 100%;
  margin: 0 0;
}
.pg1-3dmodel {
  background: #edbb1d;
  display: inline-block;
  height: 60%;
  width: 40%;
}

.pg1-potatoviz {
  background-color: #662c8f;
  display: inline-block;
  height: 60%;
  width: 60%;
}

.pg1-linegraph {
  background-color: #87C650;
  display: inline-block;
  position: relative;
  height: 40%;
  width: 100%;
}

.pg-whatif {
  display: inline;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 1%;
  background-color: #ff5d5d;
}

/****************
LINE GRAPH
****************/

.pg1-linegraph-heading {
  position: absolute;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 1.5em;
  color: #ECECEC;
  top: 10px;
  left: 35px;
}

.line-graph-area-container {
  height: 20%;

}

.navigator .data {
  fill: #009355;
  stroke-width: 0px;
}

.navigator .line {
  fill: none;
  stroke: #009355;
  stroke-width: 1px;
}

.navigator .viewport {
  stroke: grey;
  fill: black;
  fill-opacity: 0.2;
}

.line-graph-axis {
  font-family: Helvetica;
  font-weight: 100;
  font-size: 0.7em;
  fill: none;
  stroke: #ECECEC;
}


.line-graph-axis-y {
  font-family: Helvetica;
  font-weight: 100;
  font-size: 0.7em;
  fill: none;
  stroke: #ECECEC;
}

.line-graph-area {

    background-repeat:repeat;

}

.chart .overlay {
    stroke-width: 0px;
    fill-opacity: 0;
}

/*Speech Bubble*/
.bubble
{
  display: none;
  position: absolute;
  min-width: 70px;
  font-family: Helvetica;
  font-size: 1em;
  line-height: 2em;
  padding: 3px;
  background: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 0px solid transparent;
  box-shadow: inset 0 1px 1px #57C0CC,
                3px 3px 0 #57C0CC;
}

.bubble:after, .bubble:before
{
  border-bottom: 25px solid transparent;
  border-right: 25px solid #ffffff;
  bottom: -15px;
  content: '';
  position: absolute;
  right: 25px;
}

.bubble:before {
  border-right: 15px solid #57C0CC;
  bottom: -25px;
  right: 22px;
}

/*energy calculation*/

.calc-div {
  position: absolute;
  margin: 5% 10%;
  width: 100%;
}
.calc-energy-image {
  display: inline-block;
  width: 10%;
}

.calc-energy-num {
  display: inline-block;
  width: 30%;
  height: 100%;
  vertical-align: top;
  font-size: 4em;
  font-weight:100;
  font-family: Helvetica;
}

.calc-energy-val {
  display: inline-block;
  width: 30%;
  height: 100%;
  vertical-align: top;
  font-size: 4em;
  font-weight:100;
  font-family: Helvetica;
}
