html {
  height: 100%;
  margin: 0 0;
}

body {
  height: 100%;
  margin: 0 0;
}
.pg1-3dmodel {
  background: #edbb1d;
  display: inline-block;
  height: 60%;
  width: 40%;
}

.pg1-potatoviz {
  background-color: #662c8f;
  display: inline-block;
  height: 60%;
  width: 60%;
}

.pg1-linegraph {
  background-color: #87C650;
  display: inline-block;
  height: 40%;
  width: 100%;
}

.pg-whatif {
  display: inline;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 1%;
  background-color: #ff5d5d;
}

/****************
LINE GRAPH
****************/
.navigator .data {
  fill: #009355;
  stroke-width: 0px;
}

.navigator .line {
  fill: none;
  stroke: #009355;
  stroke-width: 1px;
}

.navigator .viewport {
  stroke: grey;
  fill: black;
  fill-opacity: 0.2;
}

.line-graph-axis {
  font-family: Helvetica;
  font-weight: 100;
  font-size: 0.7em;
  fill: none;
  stroke: #F5DDDD;
}

.line-graph-area {
  fill: #662C8F;
    background-image: url('assets/patterns/bulbIcon.png');

}

.chart .overlay {
    stroke-width: 0px;
    fill-opacity: 1;
}

.vis-y-axis-back {
  fill: #fff3e6;
  height: 100%;
  z-index:200;
}
